<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--配置文件的目录,默认为/config/-->
    <!--<add key="ConfigRoot" value="config" />-->
    <!--框架的根目录,默认为/xcenter/-->
    <add key="FrameworkRoot" value="" />
    <!--默认的登录页-->
    <add key="DefaultLogin" value="/Admin/Login.aspx?msg=nologin" />
    <add key="ConfigRoot" value="config" />
    <add key="DataConnectionString" value="UseDevelopmentStorage=true" />
    <add key="Install" value="true" />
    <add key="Administrator" value="51aspx" />
    <add key="LastStart" value="2012-11-20 22:46:13" />
    <add key="Version" value="1.0.0.0" />
    <add key="AppKey" value="" />
    <add key="Secret" value="" />
    <add key="ApiUrl" value="http://server.wlniao.com" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-cn" fileEncoding="utf-8" uiCulture="zh-cn" />
    <httpModules>
      <add name="MyModule" type="XCenter.Code.MyModule" />
    </httpModules>
    <httpHandlers>
      <add verb="*" path="*.bmp" type="System.Web.HttpImageHandler,XCore" />
      <add verb="*" path="*.jpg" type="System.Web.HttpImageHandler,XCore" />
      <add verb="*" path="*.gif" type="System.Web.HttpImageHandler,XCore" />
      <add verb="*" path="*.png" type="System.Web.HttpImageHandler,XCore" />
    </httpHandlers>
    <sessionState mode="InProc" timeout="20" />
  </system.web>
</configuration>