{ "ConnectionStringTable":{ "default":"Provider=Microsoft.Jet.OLEDB.4.0;Data Source=xcore.mdb" }, "DbType":{ "default":"access" }, "AssemblyList":["XCore","Wlniao.WeChat"], "IsCheckDatabase":true, "TablePrefix":"", "ContextCache":true, "ApplicationCache":false, "ApplicationCacheMinutes":0, "ApplicationCacheManager":"", "MetaDLL":"", "Mapping":[  ], "Interceptor":[  ] }