FLASHTYPE=首页轮换图					//WebEngine系统基本常量定义
FRIENDLINKTYPE=合作伙伴;友情链接
THUMBPICWIDTH=200
THUMBPICHEIGHT=150

default=Hello World
ManageSiteTitle=未来鸟企业网络营销引擎



AdminTitle=管理界面
AdminTitleSetting=系统设置
AdminTitleAccount=用户管理
AdminTitleTags=标签管理
AdminTitleNews=新闻内容管理
AdminTitleNewsClass=网站栏目管理
AdminTitleArticle=网站内容管理
AdminTitleRight=用户权限设置
AdminTitleChangePassword=修改登录密码
AdminTitleCOperateLogView=操作日志查看
AdminTitleFlashPic=轮换图片管理
AdminTitleFriendLink=友情链接管理
AdminTitleWlniaoCloud=未来鸟云应用

Add=添加
Edit=编辑
Del=删除
Save=保存
Reload=刷新
Search=查询
Login=登录
Logout=退出
Install=初始化
Submit=确定
Cancel=取消
Close=关闭
Reset=重填
RememberAccount=记住帐号
EditForm=编辑
ListForm=列表
pageStats=pageStats


Sex=性别
Email=电子邮箱
Address=地址
Username=用户名
Password=密码
RePassword=确认密码
EmailDesc=接收通知、找回密码时使用
UsernameDesc=数字、大小写之母均可,长度不小于4位
PasswordDesc=请输入用户登录时的密码
RePasswordDesc=请再次输入用户密码
InputSearchKey=请输入关键字


YouLoginIsTimeOut=您的登录已超时,请重新登录
YouNotHaveRight=您暂无对此操作的权限




