{ "ConnectionStringTable":{ "default":"Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\\项目\\wwb调试\\审核后台源码\\未来鸟WebEngine建站引擎\\XCenter.Web\\xcenter\\xcenterdb.mdb" }, "DbType":{ "default":"access" }, "AssemblyList":[ "XCenter.Code" ], "IsCheckDatabase":true, "TablePrefix":"", "ContextCache":true, "ApplicationCache":false, "ApplicationCacheMinutes":0, "ApplicationCacheManager":"", "MetaDLL":"", "Mapping":[  ], "Interceptor":[  ] }